# Base de données
POSTGRES_DB=sensuivi
POSTGRES_USER=sensuivi
POSTGRES_PASSWORD=change_moi
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Django
DJANGO_SECRET_KEY=change_moi
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
JWT_ACCESS_MINUTES=60
JWT_REFRESH_DAYS=7

# Microservice IA
AI_SERVICE_URL=http://ai-service:8001
SEUIL_CONFIANCE_INTENTION=0.70
SEUIL_SIMILARITE_RAG=0.65
CHROMA_PERSIST_DIR=/data/chroma

# Front-end
API_BASE_URL=http://localhost:8000/api

# n8n
N8N_WEBHOOK_URL=http://n8n:5678
