# Environnement
.env
*.env
!.env.example

# Python
__pycache__/
*.py[cod]
venv/
.venv/
*.sqlite3

# Node
node_modules/
dist/
.angular/
.npm-cache/
.tmp/

# Système
.DS_Store
*~
images-brutes/
images-brutes/
images-brutes/
